<div class="col-md-6 col-md-offset-3">
  <p class="text-center">
    Welcome Admin. What would you like to do?
  </p>
  <p>
    <a class="btn btn-primary btn-block" href="/admin/zips">View/Create Zip Codes</a>
  </p>
  <p>
    <a class="btn btn-primary btn-block" href="/admin/invites">View/Create Invite Codes</a>
  </p>
</div>
