{{#each flash}}
<div class="alert alert-{{@key}} alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <span>{{this}}</span>
</div>
{{/each}}
