<header>
  <nav class="navbar navbar-default navbar-knedge navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Coups</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {{#if user}}
        {{> (lookup . 'navPartial')}}
        {{else}}
        {{> anonNav}}
        {{/if}}
      </div>
    </div>
  </nav>
</header>
