<ul class="nav navbar-nav navbar-right">
  <li>
    {{#if user.instagram.profile_picture}}
    <a href="/settings" class="profile-image">
      <img class="img-circle" src="{{user.instagram.profile_picture}}" alt="" />{{displayName user}}
    </a>
    {{else}}
    <a href="/settings">{{displayName user}}</a>
    {{/if}}
  </li>
</ul>
