<form method="post" action="/login">
  {{> crumb}}
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" value="{{email}}" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" required>
  </div>
  <button class="btn btn-block btn-success" type="submit">Log In</button>
</form>
