<form method="post" action="/promos">
  {{> crumb}}
  <input type="hidden" name="iid" value="{{photo.id}}">
  <div class="form-group">
    <label for="text">Promo Text</label>
    <textarea class="form-control" name="text" rows="5" aria-describedby="text-help"></textarea>
    <span id="text-help" class="text-muted"><em>Enter the text you would like to appear along with the image.</em></span>
  </div>
  <div class="form-group">
    <label for="zip">Zip Code</label>
    <select multiple class="form-control" name="zips[]" id="zip" aria-describedby="zip-help">
      {{#each zips}}
        <option value="{{code}}">{{code}} - {{name}}</option>
      {{/each}}
    </select>
    <span id="zip-help" class="text-muted"><em>Which zip feeds would you like this promo to appear in?</em></span>
  </div>
  <div class="form-group">
    <label for="duration">Duration</label>
    <select class="form-control" name="duration" id="duration" aria-describedby="duration-help">
      <option value="1">1 hr</option>
      <option value="3">3 hrs</option>
      <option value="6">6 hrs</option>
      <option value="12">12 hrs</option>
      <option value="24">24 hrs</option>
    </select>
    <span id="duration-help" class="text-muted"><em>How long should this promo appear in the zip feeds?</em></span>
  </div>
  <button class="btn btn-block btn-success" type="submit">Create</button>
</form>
