<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading"><a href="/promos/user/{{promo.instagram.user.username}}">@{{promo.instagram.user.username}}</a><span class="pull-right">{{duration promo.expiresAt}}</span></div>
    <div class="panel-body">
      {{promoText promo}}
      <a href="/promos/{{promo._id}}">
        <img class="img-responsive" src="{{promo.instagram.images.standard_resolution.url}}" alt="" />
      </a>
    </div>
    {{#if user._id}}
    <div class="panel-footer">
      {{saveButton}}
      <a class="btn btn-default btn-sm js-promo-link" href="javascript:void(0)">Link</a>
      <div class="pull-right">
        {{flagButton}}
      </div>
    </div>
    {{/if}}
  </div>
</div>
