<form method="post" action="/admin/invites/{{invite._id}}">
  {{> crumb}}
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-block btn-danger" type="submit">Delete Invite</button>
</form>
