<form method="post" action="/admin/invites/{{invite._id}}">
  {{> crumb}}
  <div class="form-group">
    <label for="code">Invite Code</label>
    <input class="form-control" type="text" name="code" value="{{invite.code}}" required>
  </div>
  <div class="form-group">
    <label for="active">Active</label>
    <select class="form-control" name="active">
      <option value="true" {{#if invite.active}}selected{{/if}}>True</option>
      <option value="false" {{#unless invite.active}}selected{{/unless}}>False</option>
    </select>
  </div>
  <button class="btn btn-block btn-success" type="submit">Update Invite</button>
</form>
