<div class="col-md-4 col-md-offset-4">
  {{#if user.instagram.connected}}
  <p>
    <img class="center-block img-circle" src="{{user.instagram.profile_picture}}" alt="" />
  </p>
  {{/if}}
  {{> users/instagramConnect}}
  {{> users/settingsForm}}
  <hr>
  {{> users/updatePasswordForm}}
  <hr>
  <a class="btn btn-danger btn-block" href="/logout">Logout</a>
</div>
