<form method="post" action="/admin/zips">
  {{> crumb}}
  <div class="form-group">
    <label for="email">Zip Code</label>
    <input class="form-control" type="text" name="code" required>
  </div>
  <div class="form-group">
    <label for="password">Name</label>
    <input class="form-control" type="text" name="name" required>
  </div>
  <button class="btn btn-block btn-success" type="submit">Create Zip</button>
</form>
