<form action="/admin/zips/{{zip._id}}" method="post">
  {{> crumb}}
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-block btn-danger" type="submit">Delete Zip</button>
</form>
