<form method="post" action="/admin/zips/{{zip._id}}">
  {{> crumb}}
  <div class="form-group">
    <label for="email">Zip Code</label>
    <input class="form-control" type="text" name="code" value="{{zip.code}}" required>
  </div>
  <div class="form-group">
    <label for="password">Name</label>
    <input class="form-control" type="text" name="name" value="{{zip.name}}" required>
  </div>
  <div class="form-group">
    <label for="password">Image</label>
    <input class="form-control" type="text" name="image" value="{{zip.image}}">
  </div>
  <button class="btn btn-block btn-success" type="submit">Update Zip</button>
</form>
