<div class="col-md-6 col-md-offset-3">
  {{> admin/zips/createForm}}
  <hr>
  <table class="table">
      <caption>Active Zip Codes</caption>
      <thead>
        <tr>
          <th>Zip Code</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each zips}}
        <tr>
          <td>{{code}}</td>
          <td>{{name}}</td>
          <td><a href="/admin/zips/{{_id}}">Edit</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>
