<div class="col-md-6 col-md-offset-3">
  {{> admin/invites/createForm}}
  <hr>
  <table class="table">
      <caption>Active Invite Codes</caption>
      <thead>
        <tr>
          <th>Code</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        {{#each invites}}
        <tr>
          <td>{{code}}</td>
          <td>{{active}}</td>
          <td><a href="/admin/invites/{{_id}}">Edit</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>
