{{#each photos}}
<div class="col-md-3">
  <a href="/promos/new?iid={{id}}" class="thumbnail">
    <img src="{{images.standard_resolution.url}}" alt="{{caption.text}}">
  </a>
</div>
{{else}}
<p>
  No Photos!
</p>
{{/each}}
