@import "landing";
@import "promo";

.navbar-nav>li>a.profile-image {
  padding-top: 15px;
  padding-bottom: 15px;

  img {
    width: 30px;
    margin-right: 10px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
