{{#each zips}}
  <div class="col-md-4">
    <div class="zip-container">
      {{#if image}}
      <img src="{{image}}" alt="" />
      {{else}}
      <a href="/{{code}}">
        <h2>{{code}}</h2>
      </a>
      {{/if}}
    </div>
  </div>
{{/each}}
