<form method="post" action="/business">
  {{> crumb}}
  <input type="hidden" name="scope" value="business">
  <div class="form-group">
    <label for="invite">Invite Code</label>
    <input class="form-control" type="text" name="invite" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" value="{{email}}" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="password">Confirm Password</label>
    <input class="form-control" type="password" name="passwordConfirmation" required>
  </div>
  <button class="btn btn-block btn-success" type="submit">Register</button>
</form>
