<p>
  {{#if user.instagram.connected}}
  <a class="btn btn-success btn-block disabled" href="javascript:void(0)"><i class="fa fa-check"></i> Connected as {{user.instagram.username}}</a>
  <p class="text-center">
    <a class="text-danger" href="/unlink">Disconnect Account</a>
  </p>
  {{else}}
  <a class="btn btn-primary btn-block js-show-loader" href="https://api.instagram.com/oauth/authorize/?client_id={{config.instagramClientId}}&redirect_uri={{config.instagramRedirectUri}}&response_type=code"><i class="fa fa-circle-o-notch fa-spin hidden"></i> Link With Instagram</a>
  {{/if}}
</p>
