<form method="post" action="/settings">
  {{> crumb}}
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" value="{{user.email}}" required>
  </div>
  <button class="btn btn-block btn-primary" type="submit">Update Settings</button>
</form>
