<form method="post" action="/update-password">
  {{> crumb}}
  <div class="form-group">
    <label for="password">Current Password</label>
    <input class="form-control" type="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="password">New Password</label>
    <input class="form-control" type="password" name="newPassword" required>
  </div>
  <div class="form-group">
    <label for="password">Confirm New Password</label>
    <input class="form-control" type="password" name="newPasswordConfirmation" required>
  </div>
  <button class="btn btn-block btn-primary" type="submit">Update Password</button>
</form>
